
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 50px;
}

header {
  font-size: 24px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px);
}

nav {
  align-self: flex-start;
  padding: 0px;
  margin: 0px;
  height: 300px;
}

nav ul {
  list-style: none;
  padding: 10px;
  background: beige;
  border-radius: 5px;
}

article {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  overflow-y: auto;
  height: 100%;
}

.god {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  margin: 5px;
  background: beige;
  border-radius: 5px;
  border: 1px solid grey;
}

.god img {
  width: 50px;
}

/* mobile first*/
@media (min-width: 768px) and (max-width: 1024px) {
	body { background-color: lightblue; }
  .god {  border: 1px solid blue;}
}

@media (min-width: 1025px) {
  body { background-color: lightpink; }
  .god {  border: 1px solid red;}
}